<div class="row">
  <div id="logo-container" class="small-12 large-12 column">
  </div>
</div>

<div id="main-view" class="row">
  <div id="req-container" class="small-12 large-5 column panel">
    <h3>Hello</h3>
</div>
