<div id="login-view" class="row">
  <div class="small-12 large-4 column">
    <h2>Hello!</h2>
    <div class="sign-in">
      <%= render "devise/sessions/form" %>
    </div>
    <div class="sign-up">
      <%= render "devise/registrations/form" %>
    </div>
    <h2><a id="show-sign-in">Sign In</a></h2>
    <h2><a id="show-sign-up">Sign Up</a></h2>
  </div>
  <div class="large-2 column divider"></div>
  <div class="small-12 large-4 column">
    <div class="instructions" >
      <div class="header">
        <h4>Getting started is easy -</h4>
        <hr/>
      </div>
      <div class="body">
        <div>
          <h4>1. <i class="icon-edit"></i>Add Questions</h4>
          <p>Multiple Choice or Free Text Questions</p>
        </div>
        <div>
          <h4>2. <i class="icon-user"></i>Share Meeting Id</h4>
          <p>with attendees</p>
        </div>
        <div>
          <h4>3. <i class="icon-play"></i>Switch to Play Mode</h4>
          <p>Present questions one by one and view their response in real time</p>
        </div>
      </div>
    </div>
  </div>
</div>